.body{
  background-color: antiquewhite;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.table{
  background-color: none;
  text-align: center;
  margin: auto;
  font-size: 18px;
  width: 40%;
}
.a {
  color: rgb(255, 218, 7);
}
.awards{
  font-size: 20px;
  background-color: #552583  ;
  width: 50%;
  height: 250px;
  color:white;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
.a:hover {
  color: black;
}
.tder{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.larry{
  background-color: none;
  text-align: center;
  margin: auto;
  font-size: 18px;
  margin-left: 2%;
  margin-right: 2%;
}
.img-size{
  width: 400px;
  height: 300px;
}
.img-sizer{
  width: 400px;
  height: 350px;
}
.img-sizerr{
  width: 350px;
  height: 300px;
}
.img-sizerrr{
  width: 450px;
  height: 300px;
}