body{
  background-image: url("img/newer.jpg");
  background-size:cover;
  background-attachment: fixed;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

table{
  background-color: none;
  text-align: center;
  margin: auto;
  font-size: 18px;
}
a {
  color: rgb(255, 218, 7);
}
.awards{
  font-size: 20px;
  background-image: url(img/tablebg.jpg);
  height: 275px;
  color:white;
  font-weight: bold;
  
}
a:hover {
  color: black;
}
